<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <p>Email Adress</p> 
        <input type="email" name="email">
        <p>Full Name</p>
        <input type="text" name="full_name">
        <p>Password</p>
        <input type="password" name="password">

        <input type="submit" value="submit">
    </form>
</body>
</html>
